<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, height = device-height, initial-scale=1">
	<title>宫缩记录</title>

	<css href="__PUBLIC__/css/jqueryMobile/css/jquery.mobile.flatui.css" />
	<css href="__PUBLIC__/css/user/record_getHistroy.css" />
	<load href="__PUBLIC__/js/jqueryMobile/js/jquery.js" />
	<load href="__PUBLIC__/js/jqueryMobile/js/jquery.mobile-1.4.0-rc.1.js" />
	<load href="__PUBLIC__/js/record/record_banner_show.js" />

</head>
<body >
<div data-role="page" id="pageone" data-theme="b">
	<div data-role="header">
		<h1>宫缩记录</h1>
		<a class="ui-btn-right" id="name">{$user->nickname}</a>
		<div style="text-align: center ">
		<canvas  id="banner" width="240px" height="180px" style="">
		</canvas>
		</div>
	</div>
	<div data-role="content">
		<ul data-role="listview" data-inset="false">
		<li >
		<foreach name="records" item="record" >
		<a  href="{:U('WeiXin/Record/showRecord')}?id={$record.id}">
		<img src="__PUBLIC__/img/record_item.png">
		<h2 class="record_data" >{$record.cm_count}次</h2>
		<p class="record_description">测量时间：{$record.record_time}</p>
		</a>
		</foreach>

		</li>
		</ul>
	</div>

	<div data-role="footer" id="foot" hidden>
	</div>
</div>

</body>
</html>